/* Set a base font style for the entire webpage */
body {
    background-color: rgba(46, 43, 43, 2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: beige;
    margin: 0rem;
}

/* To strat basic styling for the Header section */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgb(36, 27, 27);
}

/* Basic styling for the navigation bar */
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    text-decoration: none;
    margin: 0 10px;
}

/* Basic styling for the a tag using hover style */
a:hover {
    color: rgba(234, 30, 30, 0.986);
    background-color: rgba(46, 43, 43, 2);
}

.logo img {
    width: 50%;
}

/* Basic styling for the hero image  */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.418)), url("../images/hero-image.jpg");
    width: 100%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
}

/* Basic styling for welcome and aboutus message */
#welcome {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-100%, -100%);
    color: white;
    display: flex;
    font-size: larger;
}

#aboutus {
    color: rgb(231, 143, 143);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    top: 120px;
}

/* Media query for screens smaller than 768px (like tablets or phones) */
@media screen and (max-width: 768px) {

    body,
    nav ul,
    main {
        /* display: none;*/
        flex-direction: column;
        align-items: center;

    }

    nav ul li {
        margin: 10px 0;
    }

    .foodmenu,
    .site-footer,
    .site-footer-index {
        flex-direction: column;
        align-items: center;
    }

}

/* Style the h1 element */
h2 {
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 2em;
    margin-top: 1px;
}

/* Style the title  */
#upcome-title {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Basic styling for event-section using the flex layout */
.event-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3px;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* Basic styling for event-section image */
.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;

}

/* Style the link */
.event a {
    text-decoration: none;
}

#events {
    background-color: rgba(46, 43, 43, 2);
    padding: 20px 20px;
    margin-top: 0px;
    border-radius: 25px;
}

/* Basic styling for event-section */
.event {
    padding: 20px;
    text-align: center;
    max-width: 300px;
    border-radius: 15px;
    border: rgb(15, 15, 15) 1px solid;


}

/* Style the link */
.event>p:hover {
    background-color: rgba(242, 241, 241, 0.5);
}

/* Basic styling for footer-section */
.site-footer {
    background-color: #4f4747;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    color: #fff;
}

/* Style the link */
.site-footer a {
    text-decoration: none;
    color: rgb(246, 154, 154);
}

.site-footer-index {
    background-color: #4f4747;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: -500px;
    left: 0;
    right: 0;
}

.site-footer-index a {
    text-decoration: none;
    color: rgb(246, 154, 154);
}

/* Basic styling for loaction */
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Style the h1 element */
h3,
p {
    color: white;
    margin: 10px;
    text-align: center;
}

.foodmenu>h1 {
    color: rgb(247, 198, 198);
    font-size: 2.5em;
    padding: 20px;
}
/* Form styles */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    /* border: 1px solid #1a1818;*/
    border-radius: 5px;
    background-color:  rgba(46, 43, 43, 2);
    display: flex;
    flex-direction: column;
}

/* Input, textarea, and button styling */
input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: rgb(67, 67, 102);
    box-shadow: 0 0 8px gray;
}

/* Button styling */
button {
    background-color: rgb(110, 110, 242);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

/* Style the link for button*/
button:hover {
    background-color: rgb(230, 173, 179);
}

button:active {
    background-color: green;
    transform: scale(0.98);
}

/* Basic styling for foodmenu-section */
.foodmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 112%;

}

/* Basic styling for foodmenu-section */
#table {
    color: white;
    border: none;
    text-align: center;
    width: 100%;
    background-color: rgba(46, 43, 43, 2);
}

/* Basic styling for foodmenu-image */
.foodmenu img {

    width: 50%;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 112%;
}

/* Style the link for button*/
img:hover {
    box-shadow: 0 0 0 10px #fcfbfb;
}